@{
    ViewData["Title"] = "Home Page";
}

<div class="card bg-dark text-white">
    <img class="card-img" src="https://pbs.twimg.com/media/FVPNQbOWYAEzDfn?format=jpg&name=4096x4096" alt="Card image">
  </div>
